@page "/BrandACER"
@using LaptopECommerce.Models
@using LaptopECommerceWASM.Components
@using LaptopECommerceWASM.Services
@inject IProcedureService ProcedureService

@if (Laptops == null)
{
    <LoadingIndicator />
}
else
{
    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-6">
                    <h3 class="fw-bold">ACER</h3>
                    <p>Laptop Acer là sản phẩm của Acer Inc., một tập đoàn công nghệ nổi tiếng đến từ Đài Loan, chuyên cung cấp các thiết bị công nghệ, từ các dòng laptop phổ thông như Aspire dành cho học sinh, sinh viên, đến các dòng cao cấp như Swift với thiết kế mỏng nhẹ, và Predator chuyên dụng cho game thủ với hiệu năng mạnh mẽ.</p>
                    <p>Ưu điểm nổi bật của máy tính ACER bao gồm các sản phẩm của Acer cũng nổi bật với màn hình sắc nét, tích hợp công nghệ tiên tiến như Acer ComfyView giúp bảo vệ mắt, và bàn phím thoải mái khi gõ.</p>
                </div>
                <div class="col-sm-6">
                    <div class="banner-acer"></div>
                </div>
            </div>
            @* Laptop list loaded here *@
            @if (Laptops == null)
            {
                <LoadingIndicator />
            }
            else if (Laptops.Count == 0)
            {
                <p>Hiện không có sản phẩm !</p>
            }
            else
            {
                <h2 class="fw-bold mb-3">Các sản phẩm của hãng ACER</h2>
                @foreach (var laptop in Laptops.Chunk(4))
                {
                    <div class="row mb-4">
                        @foreach (var item in laptop)
                        {
                            <div class="col-sm-3">
                                <div class="card shadow-sm h-100 pad-1">
                                    <img src="/image/@item.ImageURL" alt="@item.Name" class="card-img-top" style="height:200px; object-fit:cover;" />
                                    <div class="card-body d-flex flex-column">
                                        <a href="/Product/@item.LaptopId" class="card-title text-center fs-5"
                                           style="text-decoration:none; color:black">@item.Brand</a>
                                        <a href="/Product/@item.LaptopId" class="card-text text-center text-truncate"
                                           title="@item.Name" style="text-decoration:none; color:black">@item.Name</a>
                                        <p class="card-text text-center text-danger fw-bold mt-1">
                                            @CurrencyHelper.FormatCurrency(item.Price)
                                        </p>
                                        <div class="fw-bold">
                                            <button class="btn btn-primary cart-btn">
                                                <i class="ri-shopping-cart-line"></i>
                                            </button>
                                            Thêm vào giỏ
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
            }
        </div>
        <div class="col-sm-2">
        </div>
    </div>
}


@code {
    private List<LaptopRequest> Laptops;

    protected async override Task OnInitializedAsync()
    {
        Laptops = await ProcedureService.GetACERLaptops();
    }
}
