@page "/LaptopDetails/{LapId}"
@using LaptopECommerceWASM.Services
@using LaptopECommerce.Models
@using LaptopECommerceWASM.Components
@inject ILaptopService LaptopService

@if(Laptop == null)
{
    <LoadingIndicator></LoadingIndicator>
}
else
{
    <h3>Laptop : @Laptop.Name</h3>

    <div class="row">
        <div class="col-sm-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="cardContainer">
                        <img src="/image/@Laptop.ImageURL" width="350" height="350"/>
                            <div class="mt-3">
                                <h4>@Laptop.Name</h4>
                                <p>ID Laptop: @Laptop.LaptopId</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    

        <div class="col-sm-8">
            <div class="card mb-3 shadow-sm">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0 fw-bold">Tên: </h6>
                        </div>
                        <div class="col-sm-9">
                            @Laptop.Name
                        </div>
                    </div>
                    <hr />
                <div class="row">
                    <div class="col-sm-3">
                            <h6 class="mb-0 fw-bold">Hãng:</h6>
                    </div>
                    <div class="col-sm-9">
                        @Laptop.Brand
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-3">
                            <h6 class="mb-0 fw-bold">CPU:</h6>
                    </div>
                    <div class="col-sm-9">
                        @Laptop.CPU
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-3">
                            <h6 class="mb-0 fw-bold">RAM:</h6>
                    </div>
                    <div class="col-sm-9">
                        @Laptop.RAM
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-3">
                            <h6 class="mb-0 fw-bold">Bộ nhớ trong:</h6>
                    </div>
                    <div class="col-sm-9">
                        @Laptop.Storage
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0 fw-bold">Card đồ hoạ:</h6>
                    </div>
                    <div class="col-sm-9">
                        @Laptop.GraphicsCard
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0 fw-bold">Giá:</h6>
                    </div>
                    <div class="col-sm-9">
                        @Laptop.Price
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0 fw-bold">Ngày tạo:</h6>
                    </div>
                    <div class="col-sm-9">
                        @Laptop.CreatedDate
                    </div>
                </div>
                <hr />
            </div>
        </div>
    </div>
    </div>
}

@code {
    [Parameter]
    public string LapId { get; set; }

    private LaptopRequest Laptop { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Laptop = await LaptopService.GetLaptopDetail(Guid.Parse(LapId));
    }
}
